// Place all the styles related to the Api::Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|PT+Serif');

.book-index {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-around;
}



.book-index-item {
  margin: 50px;
  display: flex;
  flex-direction: column-reverse;

}

.book-index-item:hover {
  transform: scale(1.2);


}

 .book-index-item > a > img {
  height: 200px;
  max-width: 135px;
}


.book-index-item > a {
  max-width: 135px;
  text-align: center;
  font-family: 'PT Serif', serif;

}

.book-show-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  font-family: 'PT Serif', serif;

}

.book-show-details {
  display: flex;
  max-width: 900px;
}

.book-show-info {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px;
  min-width: 400px;
  min-height: 100%;
}



.book-show-image{
  display: flex;
  flex-direction: column;
}
