// Place all the styles related to the Api::Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-index {
  display: flex;

  flex-flow: row wrap;
}


.book-index-item {
  margin: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.book-show-container {
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
  width: 50%;

}

.book-show-info {
  order: 1;
  align-self: flex-end;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-self: center;
}



.book-show-image{
  display: flex;
  flex-direction: column-reverse;
}
