// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container > h1 {
  margin: 0;
  font-size: 44px;
}

.login-form-container {
  padding: 20px;
  height: 40px;
  font-family:  'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
}

.login-form-box input[type="password"]{
  font-size:14pt;
}

.login-form-box{
  display: flex;
  align-items: center;
}

.login-form-box input[type="text"]{

  font-size:14pt;
  border-radius: 5px;
  font-weight: lighter;
  border-color: transparent;
  padding: 4px;

}

.login-form-box input[type="password"]{

  font-size:14pt;
  font-weight: lighter;
  border-radius: 5px;
  border-color: transparent;
  padding:  4px;

}


.login-input{
  margin-left: 8px;

}

.login-form-box > button {
    background-color: #6F1903;
    color: white;
    padding-bottom:  5px;
}


.signup-form-container{


  background-image: url('http://res.cloudinary.com/dve2z73dr/image/upload/v1506116419/books_rsiup9.jpg');
  background-size: cover;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;

}
.meet-book{

    color: #fff;
    text-align: center;
    font-family:'Fira Sans', sans-serif;
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 20px;
}

.signup-form-box input[type="password"]{

  font-size:14pt;
  border-radius: 5px;
  border-color: transparent;
  padding: 4px;
  font-weight: lighter;

}



.signup-form-box input[type="text"]{
  font-weight: lighter;
  font-size:14pt;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: transparent;
  padding: 4px;
}



.signup-form-box > button {
  align-self: center;
  margin-top: 10px;
  width: 10em;
  border-radius: 5px;
  font-size: 12pt;
  background-color: white;
  font-family:  'Roboto Slab', serif;
}

.signup-form-box{

  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: white;
  background-color: #6F1903;
  padding: 30px;
  height: 25vh;
  margin-top: 5em;
  border-radius: 25px;
  min-width: 200px;
  height: 200px;
  border: 2px solid white;
}
.session-page-container {
  height: calc(100vh);
  background-image: url('https://res.cloudinary.com/dve2z73dr/image/upload/v1506116547/20th-century-brown-vintage-paper-8-780x1085_pzwkgw.jpg');

}

.logout{
  border: none;
  margin-left: 20px;
  color: white;
  background-color: black;
}

.error{
  color: #e00b0b;
}
