// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Nimbus Sans D OT Light";
  src: url("/assets/Nimbus-Sans-D-OT-Light_32752.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Nimbus Sans D OT Ultra Light";
  src: url("/assets/Nimbus-Sans-D-OT-Ultra-Light_32757.ttf") format("truetype"); /* Safari, Android, iOS */
}

@import "../../util/util.scss";

.session-page-container {
  // width: 100%;
  height: 100vh;
  input {
    border: none;
    border-radius: 3px;
  }
}

.login-form-container {
  @include navbar;
  padding: 20px 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 44px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    font-size: 48px;
  }

  .login-form-box {
    align-items: center;

    input {
      width: 120px;
      padding: 5px;
      font-size: 13px;
      margin-left: 8px;
    }
  }

  .mobile-login-btn {
    display: none;
  }
}

.login-form-box {
  @include logo;
  display: flex;

  input {
    background-color: white;
    border: #dcd6cc 1px solid;
  }
}

.mobile-login-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: #f4f1ea;

  &.show-mask {
    display: initial;
  }

  .close-mobile-mask {
    background-color: transparent;
    color: #382110;
    font-size: 28px;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .logo {
    font-size: 44px;
    margin: auto;
  }

  .login-form-box {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 15vh 24px 0;

    input {
      padding: 10px;
      font-size: 16px;
      margin: 8px 0;
    }

    button {
      margin: 8px 0;
      padding: 10px 0;
      background-color: #382110;
      border: 1px solid #382110;
      color: white;
      height: auto;

      &:hover {
        background-color: #58371f;
      }
    }
  }
}

.signup-form-container {
  background: linear-gradient(135deg, #e3ad89 10%, #f4bf93 60%, #0788a9);
  max-width: 100%;
  height: 295px;
  padding: 0 400px;
  position: relative;

  .signup-form-box {
    float: right;
    width: 300px;
    height: 100%;
    background-color: #f4f1ea;
    border-top: 1px solid #d8d8d8;
    box-sizing: border-box;
    padding: 8px;

    .new-here {
      color: black;
      display: block;
      font-size: 18px;
      margin: 8px 0 10px;
    }

    input {
      border: #dcd6cc 1px solid;
      color: #333333;
      font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
      width: 270px;
      padding: 7px 5px;
      display: block;
      margin: 8px 0;
      font-size: 16px;
      font-weight: lighter;
    }

    button {
      padding: 8px 12px;
      border: 0px;
      border-radius: 4px;
      background-color: #fdd05f;
      font-size: 18px;
      line-height: 22px;
      height: auto;
      // margin-left: 0;

      &:hover {
        background-color: #ffd56d;
      }
    }
  }

  :after {
    content: "";
    background-image: url("/assets/bibliophile.svg");
    background-size: 400px 295px;
    background-repeat: no-repeat;
    width: 100%;
    height: 295px;
    position: absolute;
    top: 0;
    left: 380px;
  }
}

// .signup-form-box input[type="text"] {
//   font-weight: lighter;
//   font-size: 14pt;
//   margin-bottom: 10px;
//   border-radius: 5px;
//   border-color: transparent;
//   padding: 4px;
// }

// .logout {
//   border: none;
//   margin-left: 20px;
//   color: white;
//   background-color: black;
// }

// .error {
//   color: #e00b0b;
// }

@media (max-width: 1500px) {
  .login-form-container {
    padding: 20px 300px;
  }
  .signup-form-container {
    padding: 0px 300px;

    :after {
      left: 280px;
    }
  }
}

@media (max-width: 1290px) {
  .login-form-container {
    padding: 20px 120px;
  }

  .signup-form-container {
    padding: 0px 120px;

    :after {
      left: 100px;
    }
  }
}
@media screen and (max-width: 945px) {
  .login-form-container {
    padding: 20px 50px;
  }

  .signup-form-container {
    padding: 0px 50px;

    :after {
      left: 30px;
    }
  }
}

@media (max-width: 768px) {
  .login-form-container {
    padding: 20px;
    align-items: center;

    .mobile-login-btn {
      display: initial;
    }

    .login-form-box {
      display: none;
    }
  }

  .signup-form-container {
    padding: 0px;

    .signup-form-box {
      float: unset;
      margin: auto;
    }

    :after {
      top: 105%;
      background-size: 320px;
      left: calc(50vw - 160px);
      // display: none;
    }
  }
}
