.book-list {
  width: 100%;
}

.book-index-item {
  position: relative;
  min-height: 200px;
  display: flex;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.book_info {
  display: flex;
  margin: 0 20px;
  max-width: 100%;
}

.book_description_container {
  max-width: 30%;
  height: 200px;
  position: absolute;
  right: 250px;
  margin-left: 18px;
  overflow: scroll;
  text-align: left;
}

.book_description {
  font-size: 16px;
  font-family: "Times New Roman", serif;
}

.book_data h4 {
  margin-bottom: 10px;
}

.book_data {
  display: flex;
  flex-direction: column;
  /*min-width: 40%;
  */
}

.book_cover {
  border-radius: 3px;
  object-fit: none;
}

.book_title {
  font-size: 20px;
  margin-bottom: 20px;
  width: 60%;
}
