// precompile assets
body{
    margin: 0;
    background-image: url('https://res.cloudinary.com/dve2z73dr/image/upload/v1506116547/20th-century-brown-vintage-paper-8-780x1085_pzwkgw.jpg');
}

ul {
  list-style-type: none;
}


.Sparkle {

	font-size:44px;
	font-family: 'Raleway';
  font-weight: 600;

 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/hgn56.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}
