// precompile assets
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
    margin: 0;
    background-color: #d6d0c4
  }

ul {
  list-style-type: none;
}


.Sparkle {

	font-size:44px;
	font-family: 'Raleway';
  font-weight: 600;

 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/hgn56.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #A6B6E0;
  align-items: center;
  z-index: 10000;
  border-bottom: 5px solid black;
  font-family:  'Roboto Slab', serif;
  position: fixed;
  top: 0;
}

.navbar > a > h1 {
  font-size:44px;
	font-family: 'Raleway' !important;

}

.navbar > a:hover{
	font-family: 'Raleway';
  text-decoration: none !important;
}

.carousel__slider-tray-wrapper.carousel__slider-tray-wrap--horizontal{
  min-width: 1000px
}

button{
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 12pt;
  background-color: white;
  font-family:  'Raleway', sans-serif;
}

button:hover {
  cursor: pointer;
}

img {
  border-radius: 5px;
}

.Select-control{
  width: 50%;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    padding: 2px;
    border-radius: 5px;
    background-color: white;
}

a:active {
    text-decoration: underline;
}
